@model List<RecipeViewModel>
@{
    ViewData["Title"] = "Recept";
}
    <div class="text-center">
        <h2 class="display-4">Alla recept</h2>
        <p>__________________________________________________________________________________________________</p>

    </div>


@foreach (var item in Model)
{
<div class="text-center">
    <p><a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id ="@item.RecipeId">@item.RecipeName</a> 
    <br /> @item.EstimatedTime Minuter @item.RecipeTypeName</p>
    <p>______________________________________________________________</p>
</div>
}
