@model Eventhjälpen.Models.Recipe
@{
    ViewData["Title"] = "ReceptInformation";
}

    <div class="jumbotron">
        <h1 class="display-4">@Model.RecipeName</h1>
        <p class="lead">Tillagningstid: @Model.EstimatedTime</p>
        <hr class="my-4">
        <img src="//placehold.it/500x400" class="mx-auto d-block p-5" />
        <ul class="list-group">
            <li class="list-group-item">
                <label><input type="checkbox" checked="checked"> Ingrediens</label>
            </li>
            <li class="list-group-item">
                <label><input type="checkbox" checked="checked"> Ingrediens</label>
            </li>
            <li class="list-group-item">
                <label><input type="checkbox" checked="checked"> Ingrediens</label>
            </li>
        </ul>

        <p class="text-black-50">Hur många ska äta?</p>
        <button type="button" class="btn btn-success">+</button><button type="button" class="btn btn-danger">-</button>

    </div>

<a asp-controller="Recipe" asp-action="RecipeIndex">Tillbaka</a>
