
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">E-postadress</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Vi delar inte din epost med någon.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Lösenord</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-success">Logga In</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RegisterUser", "Home")'">Skapa Användare</button>
</form>