@model EVTHJÄLPEN.Models.CartVM
@{
    ViewData["Title"] = "Varukorg";
}

<h1>Din Order</h1>


@*@foreach (var item in Model.ProductsInCart)
{
    <li class="list-group-item">
        <label><input type="checkbox" checked="checked">@item.ProductName  @item.ProductQuantity  @item.Measurement </label>
    </li>

}*@

<a class="btn btn-outline-dark" asp-controller="Home" asp-action="Varukorg" asp-route-id="default" role="button">Tillbaka till varukorg</a>
<p class="text-lowercase"></p>
<a class="btn btn-success" href="#" role="button">Välj betalningsmetod</a>
