@page
@model LoginModel
@{
    ViewData["Title"] = "Logga in";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <br />
                <br />
                <h4>Logga in här</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">E-postadress</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Lösenord</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">

                    @if (Model.StatusMessage != "")
                    {
                        <button type="submit" class="btn btn-outline-dark" asp-route-PageRouteID="1">Logga in</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-dark" asp-route-PageRouteID="0">Logga in</button>
                    }

                </div>
                <div class="form-group">
                    <p>
                        <a class="nav-link text-dark" id="forgot-password" asp-page="./Forgot">Glömt ditt lösenord?</a>
                    </p>
                    <p>
                        <a class="nav-link text-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera nytt konto</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
