/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* LAYOUT
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}

main {
    margin-top: 60px;
    margin-bottom: 60px;
    border-right: 1px;
    border-left: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #b2b2b2;
    padding: 1em;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}


.footer {
    background-color: #abadd6;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: normal;
}

#footer-text {
    
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  text-decoration-color: #000000;
}

a.nav-link {
    text-decoration-color: #000;
}

 Provide sufficient contrast against white background 
a {
  color: #747474;
  
}
    a:hover {
        color: black;
    }


.btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #abadd6;
    border-color: #000000;
    border: solid;
    border-width: thin;
}


@media print {
    /* Setting content width, unsetting floats and margins */
    /* Attention: the classes and IDs vary from theme to theme. Thus, set own classes here */
    #content, #page {
        width: 80%;
        margin: 0;
        float: none;
        border: hidden;
        margin-right:auto;
    }

    /** Setting margins */
    @page {
        margin: 2cm
    }

    /* Or: */
    @page :left {
        margin: 1cm;
    }

    @page :right {
        margin: 1cm;
    }

    /* The first page of a print can be manipulated as well */
    @page :first {
        margin: 1cm 2cm;
    }
    /* Hiding unnecessary elements for the print */

    #page.border-bottom, #page.border-top{
        display: none;
    }
    main {
        border-right: 0px;
        border-left: 0px;
    }
    .table{
        display: none;
    }
    #RecipeButton{
        display: none;
    }
}



