@page

@model EVTHJÄLPEN.Areas.Identity.Pages.Account.Manage.AdressModel
@{
    ViewData["Title"] = "Lägg till adress";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.adressList.Count > 0)
            {

                @foreach (AdressModel am in Model.adressList)

                {
                    <div class="form-group">

                        <label>Gatuadress</label>
                        <input class="form-control" id="Adress" name="Adress" placeholder="@Html.DisplayFor(modelItem => am.Street)" required>

                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group" id="ZipCode">
                        <label>Postnummer</label>
                        <input class="form-control" id="ZipCode" name="ZipCode" placeholder="@Html.DisplayFor(modelItem => am.ZipCode)" required/>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group" id="City">
                        <label>Stad</label>
                        <input class="form-control" id="City" name="City" placeholder="@Html.DisplayFor(modelItem => am.City)" required>

                        <span class="text-danger"></span>
                    </div>
                }
            }
            else
            {
                <div class="form-group">

                    <label>Gatuadress</label>
                    <input class="form-control" id="Adress" name="Adress">

                    <span class="text-danger"></span>
                </div>
                <div class="form-group" id="ZipCode" required>
                    <label>Postnummer</label>
                    <input class="form-control" id="ZipCode" name="ZipCode" required/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group" id="City">
                    <label>Stad</label>
                    <input class="form-control" id="City" name="City" required/>

                    <span class="text-danger"></span>
                </div>
            }
            <button type="submit" class="btn btn-outline-dark">Spara</button>
            <!--<button type="submit" asp-action="UpdateAdress" class="btn btn-outline-dark">Uppdatera</button>-->
        </form>
    </div>
</div>

