@page
@model OrderhistoryModel
@{

}
<b>Tidigare beställningar:</b>
<p style="border:1px; border-style:solid; border-color:#bcbcbc;"> </p>

        @foreach (var item in Model.OrderDetailsList)
        {
            <b>OrderID: @item.OrderID</b>
            <br />
            <br />
            <b>Datum: @item.Date</b>
            <br />
            <br />
            <b>Summa: @item.SumToPay kr</b>
        }
