@model Eventhjälpen.Models.Recipe
@{
    ViewData["Title"] = "Startsida";
}

        <br />
        <img src="~/Images/logo.jpg" alt="Bilden kunde inte visas" title="Logo" style="width:50%" />

        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <h5><b>Dagens recept:</b></h5>
                @*<p class="lead">@Model.RecipeName</p>*@
                <img src="~/Images/kladdkaka.jpg" alt="Bilden kunde inte visas" title="Kladdkaka" style="width:80%" class="m-3 rounded" />
                <a class="btn btn-primary" asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@Model.Id">Gå till recept</a>
            </div>
            <div class="col-md-6">
                <h5><text class="font-weight-bold">Kundomdömmen</text></h5>
                <blockquote class="blockquote">
                    <p class="mb-0">Tack vare Eventhjälpen kunde jag klicka hem allt till 60-års firandet med några enkla knapptryck. Super bra!</p>
                    <footer class="blockquote-footer">skrivet av <cite>Elin Svensson</cite></footer>
                </blockquote>

                <blockquote class="blockquote">
                    <p class="mb-0">Kunde få leverans samma dag, perfekt för mig som inte hunnit iväg till affären med sjuka barn.</p>
                    <footer class="blockquote-footer">skrivet av <cite>Malin Andersson</cite></footer>
                </blockquote>

                <blockquote class="blockquote">
                    <p class="mb-0">Vi bor ute i skogen, och kunde få leverans på bara 2 dagar. De andra stora leverantörerna levererar inte ens hit. Mer än nöjd!</p>
                    <footer class="blockquote-footer">skrivet av <cite>Peter Karlsson</cite></footer>
                </blockquote>
            </div>
        </div>
