@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>
<br />

<h3><div class="font-weight-bold">Produkmål:</div></h3>
<p>
    Målet är att förenkla kundernas vardag, en ny livsstil, eller en speciell dag. Utan att behöva pyssla om och experimentera recepten själv så erbjuder vi anpassningsbara och klara recept efter kundens behov.
    Webbapplikationen skall vara enkel att navigera för både äldre och yngre, språkanpassad och reklamfri för minskad distraktion.
</p>
<br />
<h3><div class="font-weight-bold">Vilka är vi:</div></h3>
<p>
    Eventhjälpen grundades år 2020 i Stockholm. Teamet består i dagsläget av 350 medarbetare från norr till söder. Vi är rikstäckande och leverar inom hela Sverige.
    Hos oss kan du beställa hem allt du behöver till barnkalaset, 50-års festen, bröllopet eller kanske till caféet på fotbollscupén. Med enkla knapptryck kan du beställa hem
    ett helt recept, eller delar av det om du redan skulle ha vissa ingredienser hemma. På så sätt får du hem allt du behöver till förberedandet utan att ens behöva lämna soffan.
</p>
<br />
<h3><div class="font-weight-bold">Frågor och svar:</div></h3>
<div class="font-weight-bold">Betalning</div>
<p>
    Hos oss kan du välja att betala direkt med banköverföring, fakturaköp eller via Klarna.
</p>
<br />
<div class="font-weight-bold">Leveranstid</div>
<p>
    Du bokar själv din leverans i varukorgen innan du slutför köpet.
    Vi levererar vardagar mellan 9:00 och 21:00.
    Din leverans blir billigare om vi redan har en bokad leverans till ditt område.
</p>
<br />

<h3><div class="font-weight-bold">Kundomdömmen:</div></h3>
<blockquote class="blockquote">
    <p class="mb-0">Tack vare Eventhjälpen kunde jag klicka hem allt till 60-års firandet med några enkla knapptryck. Super bra!</p>
    <footer class="blockquote-footer">skrivet av <cite>Elin Svensson</cite></footer>
</blockquote>

<blockquote class="blockquote">
    <p class="mb-0">Kunde få leverans samma dag, perfekt för mig som inte hunnit iväg till affären med sjuka barn.</p>
    <footer class="blockquote-footer">skrivet av <cite>Malin Andersson</cite></footer>
</blockquote>

<blockquote class="blockquote">
    <p class="mb-0">Vi bor ute i skogen, och kunde få leverans på bara 2 dagar. De andra stora leverantörerna levererar inte ens hit. Mer än nöjd!</p>
    <footer class="blockquote-footer">skrivet av <cite>Peter Karlsson</cite></footer>
</blockquote>
<br />
<h3><div class="font-weight-bold">Kontaktformulär:</div></h3>
<br />
<p>Namn:</p>
<input class="form-control input-sm" id="Name" type="text" />
<br />
<p>Email:</p>
<input class="form-control input-sm" id="Email" type="text" />
<br />
<p>Ärende:</p>
<input class="form-control input-lg" id="Question" type="text" />
<br />
<br />
<input id="SubmitQuestion" type="submit" value="Skicka" />
