@{
    ViewData["Title"] = "Om oss";
}
@*<h1>@ViewData["Title"]</h1>*@
<br />

<text class="container">
    <div class="row">
        <text class="col-md-6">
            <center>
                <h3><text class="font-weight-bold">Vilka är vi?</text></h3>
                <p style="border:1px; border-style:solid; border-color:#000000; padding: 1em;">
                    Eventhjälpen grundades år 2020 i Stockholm. Teamet består i dagsläget av 350 medarbetare från norr till söder. Vi är rikstäckande och leverar inom hela Sverige.
                    Hos oss kan du beställa hem allt du behöver till barnkalaset, 50-års festen, bröllopet eller kanske till caféet på fotbollscupén. Med enkla knapptryck kan du beställa hem
                    ett helt recept, eller delar av det om du redan skulle ha vissa ingredienser hemma. På så sätt får du hem allt du behöver till förberedandet utan att ens behöva lämna soffan.
                </p>
            </center>
        </text>
        <text class="col-md-6">
            <center>
                <h3><text class="font-weight-bold">EventHjälpen</text></h3>
                <p style="border:1px; border-style:solid; border-color:#000000; padding: 1em;">
                    Målet är att förenkla kundernas vardag, en ny livsstil, eller en speciell dag. Utan att behöva pyssla om och experimentera recepten själv så erbjuder vi anpassningsbara och klara recept efter kundens behov.
                    Webbapplikationen skall vara enkel att navigera för både äldre och yngre, språkanpassad och reklamfri för minskad distraktion. Hos oss kan du beställa hem hela eller delar av recept för att kunna
                    fylla skåpen inför ett event. Vi kommer hem till dig. Bra va?
                    <br />
                    Premiär 24 april 2020.
                </p>
            </center>
        </text>
    </div>
</text>
<br />
<h3><text class="font-weight-bold">Frågor och svar:</text></h3>
<div class="font-weight-bold">Betalning</div>
<p>
    Hos oss kan du välja att betala direkt med banköverföring, faktura eller via Klarna.
</p>
<br />
<text class="font-weight-bold">Leveranstid</text>
<p>
    Du bokar själv din leverans i varukorgen innan du slutför köpet.
    Vi levererar vardagar mellan 9:00 och 21:00.
    Din leverans blir billigare om vi redan har en bokad leverans till ditt område.
</p>
<br />
<text class="font-weight-bold">Prenumeration</text>
<p>
    I nuläget har vi dessvärre inte någon prenumerationstjänst. För enskilda beställningar hänvisar vi till köp via varukorg. Behöver du hjälp med din beställning? Vänligen kontakta oss.
</p>
<br />
<text class="font-weight-bold">Returer</text>
<p>
    Har du frågor gällande retur av varor, vänligen kontakta oss via e-post eller formuläret nedan. Gäller din fråga en produkt?
    Kom ihåg att spara förpackningen då vi kan behöva information om din produkt för att underlätta hanteringen av ditt ärende.
</p>
<br />
<text class="font-weight-bold">GDPR</text>
<p>
    Så skyddar vi dina personuppgifter <br />
    Det är viktigt för oss på Eventhjälpen att du känner dig trygg med hur vi hanterar dina personuppgifter. Vi hanterar dina personuppgifter för att kunna leverera dina varor hem till dig. Vi behöver uppgifter som namn, adress, och telefonnummer för att veta att vi har rätt uppgifter till dig. Vi använder oss även av uppgifter som e-post och mobiltelefon för att skicka ut välkomstbrev och orderbekräftelse per mejl.
    Vi ser till att dina uppgifter är skyddade hos oss och vi håller oss även till dataskyddsregler, interna riktlinjer och rutiner. Har du ytterligare frågor om hur vi tillhandahåller dina personuppgifter? Tveka inte att fråga oss.
    <br />
    <br />
    Vill du att vi tar bort dina uppgifter? Kontakta oss. Våra kontaktuppgifter finner du nedan.
</p>
<br />
<text class="font-weight-bold">Återbetalning</text>
<p>
    Väntar du på en återbetalning från oss? Från det att ditt ärende är mottaget kan det ta det upp till 5 bankdagar innan du har pengarna på kontot.
</p>
<br />
<h3><text class="font-weight-bold">Kundtjänst</text></h3>
<p>
    För frågor och funderingar vänligen kontakta oss.
    <br />
    <br />Mail: kontakt@eventhjalpen.se
    <br /><i>Svarstid: En arbetsdag</i>
    <br />
    <br />Telefon: 08-123 45 67
    <br /><i>Helgfria vardagar 9-16</i>
    <br />
    <br />Kontaktformulär: se nedan
    <br /><i>Svarstid: En arbetsdag</i>
</p>
<br />
<br />
<h3><text class="font-weight-bold">Kontaktformulär:</text></h3>
<br />
<p>Namn:</p>
<input class="form-control input-sm" id="Name" type="text" />
<br />
<p>Email:</p>
<input class="form-control input-sm" id="Email" type="text" />
<br />
<p>Ärende:</p>
<input class="form-control input-lg" id="Question" type="text" />
<br />
<br />
<input id="SubmitQuestion" type="submit" value="Skicka" />