
@{
    ViewData["Title"] = "Varukorg";
}

<h1>Varukorg</h1>
<a class="btn btn-primary" href="#" role="button">Fortsätt handla</a>
<p class="text-lowercase"></p>
<a class="btn btn-primary" href="#" role="button">Checka ut</a>